
.Container{
    height: 100vh;
    width: 100vw; 
    background-image: url('../../assets/sucess1_compressed.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; 
    display:flex;
    flex-direction:column;
    background-position:left;
}

 .content{
    color:var(--Primary);
    text-align:right;
    font-size: 2.5vw;
    font-weigth:bold;
    padding:14% 4% 0% 0%;
    color:white;
    width:100%;
} 




@media (min-width: 320px) and (max-width: 480px) {
    
        .Container {
            background-size:cover;
            background-color:var(--primary);
            background-position:left;
            height:100vh;
        }
     .content{
         text-align:left;
         font-size: 3.5vw;
     } 
  }
  


@media (min-width:481px) and (max-width:768px){
    .Container {
        background-size:cover;
        background-color:var(--primary);
        background-position:left;
        height:100vh;

    }
    

}

@media (min-width:769px) and (max-width:1024px){
    .content{
        text-align:left;
        font-size:3.5vw;
    } 
}



